@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Sacramento&display=swap');

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    background-color: whitesmoke;
    font-family: 'Poppins', sans-serif;

    background-image: url("../images/background_green.jpg");
    background-size: 900px;
}

img {
    width:100%;
    border-radius: 20px;

}

img.header-image {
    border-radius: 0;
}

header {
    background-color:#592623;
}

a.link {
    color:#592623;
    text-decoration: underline;
}

a.link:hover {
    color:#b1bca0;
    text-decoration: underline;
    -webkit-transition: all 750ms ease;
    -moz-transition: all 750ms ease;
    -ms-transition: all 750ms ease;
    -o-transition: all 750ms ease;
    transition: all 750ms ease;
}

nav {
    display: flex;
    justify-content: center;
    background-color:#592623;
    z-index:9;
    font-weight: normal;
    letter-spacing: 3px;
}

nav a {
    text-align: center;
    color: whitesmoke;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}

h1 {
    font-family: 'Sacramento', sans-serif;
    color:#592623;
    margin-top:10px;
    font-size: 90px;
    text-align: center;
}

h2 {
    font-size:40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 10px;
    text-align: center;
}

h3 {
    text-transform: lowercase;
    letter-spacing: 4px;
    padding: 10px;
    text-align: center;
    color:#592623;
}

.content_paragraph {
    margin:15px;
    text-align: justify;
    padding:10px;
    font-size: 22px;
    color:black
}

.content_sub_paragraph {
    margin:15px;
    text-align: center;
    padding:10px;
    font-size: 22px;
    color:lightslategray;
    letter-spacing: 2px;
}



@media screen and (min-width: 631px) {
    nav a {
        width: 210px;
        font-size: 25px;
        border-radius: 10px;
        margin: 10px;
        padding: 5px;
    }

    .nav_items {
        font-size:25px;
        padding:0;
        margin:0;
    }
    
    nav a:hover {
        color:whitesmoke;
        background-color:#b1bca0;
        -webkit-transition: all 750ms ease;
        -moz-transition: all 750ms ease;
        -ms-transition: all 750ms ease;
        -o-transition: all 750ms ease;
        transition: all 750ms ease;
    }
    
    nav a.active {
        background-color: whitesmoke;
        color: #592623; 
    }
    
    nav .menu_icon {
        display: none;
    }
    
    nav .close_menu_icon {
        display: none;
    }

    .slider {
        border-radius: 20px;
    }

}

@media screen and (max-width: 630px) {
    h1 {
        font-size: 40px;
        letter-spacing:normal;
    }

    h2 {
        font-size: 20px;
    }

    .content_sub_paragraph {
        font-size:14px;
    }

    footer {
        font-size: 10px;
    }
    
    .content_paragraph {
        font-size: 14px;
    }

    nav {
        flex-direction: column;
        align-items: left;
        justify-content: flex-start;
    }

    nav a {
        display:none;
    }

    nav a.menu_icon {
        font-size: 25px;
        display:inline-flex;
        padding-left: 5px;
        padding-bottom: 10px;
        align-items: left;
    }

    nav.responsive {
        position:relative;
    }

    nav.responsive a.menu_icon {
        display: none;
    }

    nav.responsive a {
        display:flex;
        align-items: center;
        text-align: center;
        padding: 5px;
        margin: 5px 0;
    }

    nav.responsive i {
        text-align: center;

    }

    nav.responsive .nav_items {
        padding: 5px;
    }

    nav.responsive a.close_menu_icon {
        position: absolute;
        right: 3px;
        color: whitesmoke;
        font-size: 20px;
        padding-top: 12px;
    }

    .slider {
        border-radius: 0%;
    }
}

@media screen and (max-width: 968px) {
    .nav_items {
        font-size: 16px;
    }
}


.active {
    background-color: #b1bca0;
    color: whitesmoke; 
}

.title_card {
    width:100%;
    flex-shrink: 1; 
    margin:0;
    padding: 0;
    border-color: #592623;
}

.container {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 70%;
    background-color: whitesmoke;
    margin:auto;
}

@media screen and (max-width: 1640px) {
    .container {
        max-width:80%;
    }
}

@media screen and (max-width: 1000px) {
    .container {
        max-width:90%;
    }
}

@media screen and (max-width: 850px) {
    .container {
        max-width:100%;
    }
}

.content_container {
    flex-direction: row;
}

.slider {
    max-width: 600px;
    max-height: 1200px;
    position: relative;
    margin: auto;
    border:#592623 10px solid;
    background-color:#592623;
}

@media screen and (max-width:630px) {
    .container {
        max-width: 100%;
    }
}

.slideshow_1_default, .slideshow_2_default {
    display:none;
}

.prev, .next {
    line-height: 100%;
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 10px 10px 10px 6px;
    color: whitesmoke;
    background-color: #592623;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 15px 15px 0;
    user-select: none;
    top: 50%;
    border:#592623 2px solid;
  }

.next {
    right: 0;
    border-radius: 15px 0 0 15px;
    padding: 10px 6px 10px 10px;
}

.prev:hover, .next:hover {
    background-color:whitesmoke;
    color:#592623;
    border-radius: 70px;
    padding: 10px 14px;
    margin:0 5px;
}

iframe {
    margin: 0 auto;
    display: block;
}

@media screen and (max-width:999px) {
    iframe {
        display:none;
    }
}

form {
    display:flex;
    flex-direction: column;

}

input {
    width:70%;
    display:block;
    height: 50px;
    margin:20px auto;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

button {
    width:fit-content;
    display:block;
    margin:20px auto;
    padding: 15px 30px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #592623;
    letter-spacing: 3px;
    border: 2px solid #592623;
    border-radius: 20px;
    background-color: whitesmoke;
    cursor: pointer;
}

button:hover {
    background-color: #592623;
    color:whitesmoke;
    -webkit-transition: all 750ms ease;
    -moz-transition: all 750ms ease;
    -ms-transition: all 750ms ease;
    -o-transition: all 750ms ease;
    transition: all 750ms ease;
}

.radioz {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:auto;
    
}

.oneradio {
    display: block;
}

#yn {
    margin-bottom:0;
    margin-top: 0;
    cursor: pointer;
}

.selector {
    margin:auto 10px;
    text-align: center;
    color:lightslategray;
    font-weight: bold;
}

footer {
    font-size: 12px;
    margin: 15px 0 0 2px;
}