* {
    box-sizing: border-box;
}

html, body {
    margin:0;
    padding:0;
}

body {
    background-color:lightgray;
    font-family: 'Raleway', sans-serif;
    background-image: url(media/annie-spratt-CEvqxP1yubE-unsplash.jpg);
    background-size:1200px;
    height: 100vh;
    width: 100vw;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color:maroon;
    z-index:9;
    padding:18px;
}

ul {
    text-align: center;
}

li {
    display: inline-block;
    top: 20px;
    padding: 0px 70px;
    color: whitesmoke;
    background-color: maroon;
    text-transform: lowercase;
    font-size: 50px;
    height: 100%
}

li:hover {
    color:#6898a3;
}


.container {
    width:auto;
    margin: 0px 200px;
    height:100%;
    bottom: 0;
    background-color: white;
}

.welcome {
    display:flex;
    justify-content: center;
    position: relative;
    top:180px;
    color:maroon;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    z-index:8;
}

.head_img {
    display:flex;
    justify-content: center;
    position: relative;
    top:100px;
}

footer {
    position: fixed;
    padding: 15px 0;
    bottom: 0;
    width: 100%;
    background-color:maroon;
    color:whitesmoke;
    text-align: center;
    font-size: 25px;
    z-index:9;
}