* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    background-color: whitesmoke;
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    width: 100vw;
}

img {
    width:100%;
}

header {
    background-color: #592623;
}

a.link {
    color:#b1bca0;
    text-decoration: none;
}

a.link:hover {
    text-decoration: underline;
    -webkit-transition: all 750ms ease;
    -moz-transition: all 750ms ease;
    -ms-transition: all 750ms ease;
    -o-transition: all 750ms ease;
    transition: all 750ms ease;
}

nav {
    display: flex;
    justify-content: center;
    background-color:#592623;
    z-index:9;
    font-weight: bold;
}

nav a {
    text-align: center;
    color: whitesmoke;
    text-transform: uppercase;
    text-decoration: none;
}

h1 {
    text-transform:uppercase;
    margin:15px;
}

h2 {
    margin:15px;
}

h3 {
    margin:15px;
}

.home_p {
    margin:15px;
}

strong {
    color:#592623;
}

@media screen and (min-width: 481px) {
    nav a {
        width: 210px;
        font-size: 25px;
        border-radius: 10px;
        margin: 10px;
        padding: 5px;
    }
    .nav_items {
        font-size:25px;
        padding:0;
        margin:0;
    }
    
    nav a:hover {
        color:whitesmoke;
        background-color:#b1bca0;
        -webkit-transition: all 750ms ease;
        -moz-transition: all 750ms ease;
        -ms-transition: all 750ms ease;
        -o-transition: all 750ms ease;
        transition: all 750ms ease;
    }
    
    nav a.active {
        background-color: whitesmoke;
        color: #592623; 
    }
    
    nav .menu_icon {
        display: none;
    }
    
    nav .close_menu_icon {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    nav {
        flex-direction: column;
        align-items: left;
        justify-content: flex-start;
    }

    nav a {
        display:none;
    }

    nav a.menu_icon {
        font-size: 25px;
        display:inline-flex;
        padding: 5px;
        align-items: left;
    }

    nav.responsive {
        position:relative;
    }

    nav.responsive a.menu_icon {
        display: none;
    }

    nav.responsive a {
        display:flex;
        align-items: left;
        text-align: center;
        padding: 5px;
        margin: 5px 0;
    }

    nav.responsive i {
        text-align: center;
        padding: 5px 0 0 0;
    }

    nav.responsive .nav_items {
        padding: 5px;
    }

    nav.responsive a.close_menu_icon {
        position:fixed;
        right: 0;
        top: 0;
        margin-right:5px;
        color: whitesmoke;
        font-size: 20px;
    }

}

.container {
    position:relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    top:20px;

}

.title_card {
    max-width: 600px;
    flex-shrink: 1; 
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

.home_content {
    display:flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.home_text_container {
    text-align: center;
}

.bx-wrapper {
    display: table;
    margin: 0 auto;
  }

.end_of_content {
    font-size: 12px;
    margin: 15px 0 0 2px;
}

/* footer {
    position: fixed;
    padding: 15px 0;
    bottom: 0;
    width: 100%;
    background-color:#592623;
    color:whitesmoke;
    text-align: center;
    font-size: 16px;
    font-weight:bold;
    z-index:9;
} */